h3 {{page}}
.row
  .col-xs-3
    form(role='form', novalidate, name='progressForm')
      .form-group
        label Select Date To Review Your Progress
        input.form-control(type='date', name='date', ng-model='date')
      button.btn.btn-danger(type='button', ng-click='getData()') HOW JACKED DID YOU GET??

.row(ng-show='workout && goal')
  .col-xs-4
    table.table
      thead
        tr
          th(colspan='4') Workout Goal
        tr
          th Lift
          th Sets
          th Reps
          th Weight (lbs)
      tbody
        tr(ng-repeat='lift in goal.lifts')
          td {{lift.name}}
          td {{lift.sets}}
          td {{lift.reps}}
          td {{lift.weight}}
  .col-xs-4
    table.table
      thead
        tr
          th(colspan='4') What You Actually Did
        tr
          th Lift
          th Sets
          th Reps
          th Weight (lbs)
      tbody
        tr(ng-repeat='lift in workout.lifts')
          td {{lift.name}}
          td {{lift.sets}}
          td {{lift.reps}}
          td {{lift.weight}}
  .col-xs-4
    .results-pic(style='background-image:url("{{resultImage}}");')
